.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper-slide img {
    display: block;
    width: 100% !important;
    height: auto !important;
    object-fit: cover;
}

.mySwiper2 {
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .mySwiper2 {
        height: 400px;
    }

    .mySwiper2 img {
        object-fit: contain;
    }
}